@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.whyUsSection {
  margin: 15px 0;
  padding-top: 70px;
  padding-bottom: 70px;
}
.whyUsDiv {
  text-align: center;
}

.whyUsHeading {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 15px;
  color: #5a5a5a;
}

.whyUsContentCol {
  padding: 0;
  margin-top: 15px;
}
.whyUsContent {
  width: 85%;
  margin: auto;
  padding: 10px 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.whyUsImage img {
  width: 100%;
  border-bottom: 4px solid #5296fb;
  margin-bottom: 10px;
}

.whyUsPara {
  width: 90%;
  text-align: center;
}

.whyUsPara h3 {
  font-weight: 700;
  font-size: 18px;
}

.whyUsPara p {
  color: #777777;
}

.homeClass {
  margin-top: 20px;
  background-color: #1e1e1e;
  padding-top: 40px;
  text-align: center;
  padding-bottom: 20px;
}

.footerIcon {
  color: white;
  margin: 0 15px;
  cursor: pointer;
}

.footerIcon:hover {
  color: cyan;
}

.footerIconDiv {
  /* padding: 15px; */
}

.footerLinksText {
  display: inline;
  padding: 0 10px;
  border-right: 1px solid white;
  font-weight: 700;
  color: white;
  font-size: 12px;
  cursor: pointer;
}

.footerLinksLastText {
  border-right: none;
}

#slider {
  overflow: hidden;
}
#slider figure {
  position: relative;
  width: 400%;
  margin: 0;
  left: 0;
  animation: 5s slider infinite;
}
.body {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
.navbar {
  background-color: #0000;
  height: 78px;
  width: 100%;
  position: sticky;
}
label.logo {
  color: black;
  font-size: 40px;
  line-height: 70px;
  padding: 0 20px;
  font-weight: bold;
}
.navbar ul {
  float: right;
  margin-right: 20px;
}
.navbar ul li {
  display: inline-block;
  margin: 0 5px;
  line-height: 70px;
}
.navbar ul li a {
  color: black;
  font-size: 17px;
  padding: 5px 9px;
  border-radius: 3px;
  position: relative;
}
.active:hover {
  background: #1b9bff;
  transition: 0.5s;
}
/* a.active{
  background: rgb(0, 128, 255);
} */

.testimonialsActive:hover{
  background: inherit;
}


.carousel-control-next:hover,
.carousel-control-prev:hover {
  background: rgba(0, 0, 0, 0);
}

  .row{
    text-align: center;
    font-size: small;

}

/* Headings */

.big-heading {
  /* font-family: "Montserrat-Black"; */
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #fff;
  color: #fff;
  /* font-family: "Montserrat"; */
  text-align: center;
}

.white-section {
  /* background-color: #5296fb; */
  background: #fff;
  /* font-family: "Montserrat"; */
  text-align: center;
}



/* Testimonial Section */

#testimonials {
  margin-top: 20px;
  padding-top: 80px;
  padding-bottom: 80px;
  /* font-family: "Montserrat"; */
  text-align: center;
  background: rgba(82, 150, 251, 0.16);
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}


/* #press {
  background-color: #fff;
  padding-bottom: 3%;
  padding-top: 50px;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
} */

/* Pricing Section */

#pricing {
  padding: 100px;
  background-color: #fff;
}
.course_img{
    width: 50%;
}
.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
  border-radius: 25px;
}
.card{
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 25px !important;
}

