@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
#slider{
    overflow: hidden;
}
#slider figure{
    position: relative;
    width: 400%;
    margin: 0;
    left: 0;
    animation: 5s slider infinite;
}
.body{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
.navbar{
    background-color: #0000;
    height: 78px;
    width: 100%;
    position: sticky;
}
label.logo{
    color: black;
    font-size: 40px;
    line-height: 70px;
    padding: 0 20px;
    font-weight: bold;
}
.navbar ul{
    float: right;
    margin-right: 20px;
}
.navbar ul li{
    display: inline-block;
    margin: 0 5px;
    line-height: 70px;
}
.navbar ul li a{
    color: black;
    font-size: 17px;
    padding: 5px 9px;
    border-radius: 3px;
    position: relative;
}
.active:hover{
    background: #1b9bff;
    transition: .5s;
    
}
/* a.active{
    background: rgb(0, 128, 255);
} */

.carousel-control-next:hover, .carousel-control-prev:hover {
    background: rgba(0, 0, 0, 0);
}
